{:highlights [{:id #uuid "64ecab9b-2c71-470f-89fd-82c8991e3d3f",
               :page 58,
               :position {:bounding {:x1 0,
                                     :y1 126,
                                     :x2 797.8650207519531,
                                     :y2 618.8333587646484,
                                     :width 926.4639999999999,
                                     :height 1376.2559999999999},
                          :rects ({:x1 0,
                                   :y1 126,
                                   :x2 0,
                                   :y2 145.33333587646484,
                                   :width 926.4639999999999,
                                   :height 1376.2559999999999}
                                  {:x1 139.35415649414062,
                                   :y1 566.0416717529297,
                                   :x2 797.8650207519531,
                                   :y2 581.7187652587891,
                                   :width 926.4639999999999,
                                   :height 1376.2559999999999}
                                  {:x1 86.0625,
                                   :y1 603.5000152587891,
                                   :x2 497.2964172363281,
                                   :y2 618.8333587646484,
                                   :width 926.4639999999999,
                                   :height 1376.2559999999999}),
                          :page 58},
               :content {:text " 数服务器的设计初衷就是为了解决以上问题 。 参数服务器最早出现在大规模主题模型系统［ 9-10 ］以及大规模深度神经网络系统［ 11 ］之中"},
               :properties {:color "green"}}
              {:id #uuid "64ecabf4-fc35-468f-9817-15f36c885385",
               :page 59,
               :position {:bounding {:x1 0,
                                     :y1 -2,
                                     :x2 837.8412170410156,
                                     :y2 287.47916412353516,
                                     :width 929.1519999999999,
                                     :height 1373.568},
                          :rects ({:x1 0,
                                   :y1 -2,
                                   :x2 0,
                                   :y2 17.333335876464844,
                                   :width 929.1519999999999,
                                   :height 1373.568}
                                  {:x1 0,
                                   :y1 14,
                                   :x2 0,
                                   :y2 33.333335876464844,
                                   :width 929.1519999999999,
                                   :height 1373.568}
                                  {:x1 0,
                                   :y1 94.00000762939453,
                                   :x2 0,
                                   :y2 113.33333587646484,
                                   :width 929.1519999999999,
                                   :height 1373.568}
                                  {:x1 0,
                                   :y1 110.00000762939453,
                                   :x2 0,
                                   :y2 129.33333587646484,
                                   :width 929.1519999999999,
                                   :height 1373.568}
                                  {:x1 0,
                                   :y1 126.00000762939453,
                                   :x2 0,
                                   :y2 145.33333587646484,
                                   :width 929.1519999999999,
                                   :height 1373.568}
                                  {:x1 0,
                                   :y1 142.00000762939453,
                                   :x2 0,
                                   :y2 161.33333587646484,
                                   :width 929.1519999999999,
                                   :height 1373.568}
                                  {:x1 0,
                                   :y1 158.00000762939453,
                                   :x2 0,
                                   :y2 177.33333587646484,
                                   :width 929.1519999999999,
                                   :height 1373.568}
                                  {:x1 0,
                                   :y1 174.00000762939453,
                                   :x2 0,
                                   :y2 193.33333587646484,
                                   :width 929.1519999999999,
                                   :height 1373.568}
                                  {:x1 0,
                                   :y1 190.00000762939453,
                                   :x2 0,
                                   :y2 209.3333511352539,
                                   :width 929.1519999999999,
                                   :height 1373.568}
                                  {:x1 388.8437805175781,
                                   :y1 197.6928939819336,
                                   :x2 836.8370666503906,
                                   :y2 213.51708221435547,
                                   :width 929.1519999999999,
                                   :height 1373.568}
                                  {:x1 0,
                                   :y1 206.00000762939453,
                                   :x2 0,
                                   :y2 225.3333511352539,
                                   :width 929.1519999999999,
                                   :height 1373.568}
                                  {:x1 461.4062805175781,
                                   :y1 234.5726089477539,
                                   :x2 837.8412170410156,
                                   :y2 250.72913360595703,
                                   :width 929.1519999999999,
                                   :height 1373.568}
                                  {:x1 405.9375305175781,
                                   :y1 234.65445709228516,
                                   :x2 449.4300231933594,
                                   :y2 250.86454010009766,
                                   :width 929.1519999999999,
                                   :height 1373.568}
                                  {:x1 127.65625,
                                   :y1 234.77686309814453,
                                   :x2 395.2445983886719,
                                   :y2 251.4062271118164,
                                   :width 929.1519999999999,
                                   :height 1373.568}
                                  {:x1 128.66537475585938,
                                   :y1 271.75159454345703,
                                   :x2 330.7524719238281,
                                   :y2 287.47916412353516,
                                   :width 929.1519999999999,
                                   :height 1373.568}),
                          :page 59},
               :content {:text "这里，参数服务器并不 是指某一台特定的实体服务器，而是对应一个可伸缩的服务器组。通常，一组模型的参数会通过一定的规则哈希到不同的实体服务器中进行存储"},
               :properties {:color "green"}}
              {:id #uuid "64ecadb1-cecb-4a39-aa8d-8c3cd0b492b5",
               :page 59,
               :position {:bounding {:x1 0,
                                     :y1 1166.0000762939453,
                                     :x2 1017.7694091796875,
                                     :y2 1436.541748046875,
                                     :width 1128.2559999999999,
                                     :height 1667.904},
                          :rects ({:x1 0,
                                   :y1 1166.0000762939453,
                                   :x2 0,
                                   :y2 1185.3334121704102,
                                   :width 1128.2559999999999,
                                   :height 1667.904}
                                  {:x1 335.08203125,
                                   :y1 1370.3553924560547,
                                   :x2 1017.7694091796875,
                                   :y2 1390.8438415527344,
                                   :width 1128.2559999999999,
                                   :height 1667.904}
                                  {:x1 156.70834350585938,
                                   :y1 1415.8824157714844,
                                   :x2 835.6654968261719,
                                   :y2 1436.541748046875,
                                   :width 1128.2559999999999,
                                   :height 1667.904}),
                          :page 59},
               :content {:text "依据模型的不同，数据表有不同的具体形式：可以是简单向 量 ，也可以是矩阵、张量或晗希表；可以是稠密的形式，也可以是稀疏的形式"},
               :properties {:color "green"}}
              {:id #uuid "64ecb21f-07e7-4da5-9631-f678dd2afc08",
               :page 62,
               :position {:bounding {:x1 0,
                                     :y1 -2,
                                     :x2 965.6759033203125,
                                     :y2 1487.6478271484375,
                                     :width 1124.992,
                                     :height 1669.5359999999998},
                          :rects ({:x1 0,
                                   :y1 -2,
                                   :x2 0,
                                   :y2 17.3333740234375,
                                   :width 1124.992,
                                   :height 1669.5359999999998}
                                  {:x1 0,
                                   :y1 702.0000305175781,
                                   :x2 0,
                                   :y2 721.3333740234375,
                                   :width 1124.992,
                                   :height 1669.5359999999998}
                                  {:x1 0,
                                   :y1 718.0000305175781,
                                   :x2 0,
                                   :y2 737.3333740234375,
                                   :width 1124.992,
                                   :height 1669.5359999999998}
                                  {:x1 0,
                                   :y1 734.0000305175781,
                                   :x2 0,
                                   :y2 753.3333740234375,
                                   :width 1124.992,
                                   :height 1669.5359999999998}
                                  {:x1 0,
                                   :y1 750.0000305175781,
                                   :x2 0,
                                   :y2 769.3333740234375,
                                   :width 1124.992,
                                   :height 1669.5359999999998}
                                  {:x1 0,
                                   :y1 766.0000305175781,
                                   :x2 0,
                                   :y2 785.3333740234375,
                                   :width 1124.992,
                                   :height 1669.5359999999998}
                                  {:x1 0,
                                   :y1 782.0000305175781,
                                   :x2 0,
                                   :y2 801.3333740234375,
                                   :width 1124.992,
                                   :height 1669.5359999999998}
                                  {:x1 0,
                                   :y1 798.0000305175781,
                                   :x2 0,
                                   :y2 817.3333740234375,
                                   :width 1124.992,
                                   :height 1669.5359999999998}
                                  {:x1 0,
                                   :y1 814.0000305175781,
                                   :x2 0,
                                   :y2 833.3333740234375,
                                   :width 1124.992,
                                   :height 1669.5359999999998}
                                  {:x1 0,
                                   :y1 830.0000305175781,
                                   :x2 0,
                                   :y2 849.3333740234375,
                                   :width 1124.992,
                                   :height 1669.5359999999998}
                                  {:x1 101.31808471679688,
                                   :y1 1286.3646240234375,
                                   :x2 489.78466796875,
                                   :y2 1306.1098327636719,
                                   :width 1124.992,
                                   :height 1669.5359999999998}
                                  {:x1 506.08807373046875,
                                   :y1 1287.8750610351562,
                                   :x2 963.126220703125,
                                   :y2 1307.4736328125,
                                   :width 1124.992,
                                   :height 1669.5359999999998}
                                  {:x1 101.20379638671875,
                                   :y1 1332.7813110351562,
                                   :x2 965.1196136474609,
                                   :y2 1353.1189575195312,
                                   :width 1124.992,
                                   :height 1669.5359999999998}
                                  {:x1 104.47257995605469,
                                   :y1 1377.5208740234375,
                                   :x2 200.77352905273438,
                                   :y2 1397.2692565917969,
                                   :width 1124.992,
                                   :height 1669.5359999999998}
                                  {:x1 213.816162109375,
                                   :y1 1377.6875610351562,
                                   :x2 965.6759033203125,
                                   :y2 1398.7293701171875,
                                   :width 1124.992,
                                   :height 1669.5359999999998}
                                  {:x1 100.5360107421875,
                                   :y1 1423.1042175292969,
                                   :x2 965.0513916015625,
                                   :y2 1443.2066040039062,
                                   :width 1124.992,
                                   :height 1669.5359999999998}
                                  {:x1 100.98588562011719,
                                   :y1 1468.0625610351562,
                                   :x2 574.3099212646484,
                                   :y2 1487.6478271484375,
                                   :width 1124.992,
                                   :height 1669.5359999999998}),
                          :page 62},
               :content {:text "A凹的具体形式与用户的访问模式有关。比如在深度神 经网络的学习 过程中，往往 是 处理少量样本后就会对所有参数进行更新，这种情况下用户通常调用对全部参数操作的接口来完成。在逻辑回归的学习过程中，处理少量样本后，通常只产生对模型参数的稀疏更新，这种情况下参数的请求和 l更新则可以调用处理稀疏参数的接口，从而降低传输的数据量，减少网络带宽的占用，提高交互的效率"},
               :properties {:color "green"}}
              {:id #uuid "64ecb2c4-4b10-4c02-9f96-466543b996ab",
               :page 63,
               :position {:bounding {:x1 0,
                                     :y1 -2,
                                     :x2 1025.4726867675781,
                                     :y2 980.6875305175781,
                                     :width 1126.08,
                                     :height 1666.816},
                          :rects ({:x1 0,
                                   :y1 -2,
                                   :x2 0,
                                   :y2 17.333343505859375,
                                   :width 1126.08,
                                   :height 1666.816}
                                  {:x1 0,
                                   :y1 190,
                                   :x2 0,
                                   :y2 209.33334350585938,
                                   :width 1126.08,
                                   :height 1666.816}
                                  {:x1 0,
                                   :y1 206,
                                   :x2 0,
                                   :y2 225.33334350585938,
                                   :width 1126.08,
                                   :height 1666.816}
                                  {:x1 410.2187805175781,
                                   :y1 822.0625305175781,
                                   :x2 1024.8666076660156,
                                   :y2 840.7291870117188,
                                   :width 1126.08,
                                   :height 1666.816}
                                  {:x1 163.16665649414062,
                                   :y1 868.9062805175781,
                                   :x2 1022.7291564941406,
                                   :y2 887.5729370117188,
                                   :width 1126.08,
                                   :height 1666.816}
                                  {:x1 161.58334350585938,
                                   :y1 914.7395935058594,
                                   :x2 1025.4726867675781,
                                   :y2 934.0729675292969,
                                   :width 1126.08,
                                   :height 1666.816}
                                  {:x1 161.02084350585938,
                                   :y1 961.1042175292969,
                                   :x2 747.4778137207031,
                                   :y2 980.6875305175781,
                                   :width 1126.08,
                                   :height 1666.816}),
                          :page 63},
               :content {:text "此外，客户端也缓存本地 工 作节点 产 生的模型更新，这样做可以将本地的更新做 一 些汇总后再通过网络 一 并发送 。 当 模型有很 多 稀疏更新时，如果 每产 生 一 些更新就发送出去，网络包太细碎，会严重 影 H 向网络的通信效率 。 通过汇总打包后再发送，可以大大减少网络请求的次数，提高交 互 的 效率"},
               :properties {:color "green"}}
              {:id #uuid "64ecb561-b884-42ef-ad9a-96948c7cc4f5",
               :page 63,
               :position {:bounding {:x1 0,
                                     :y1 -2,
                                     :x2 1023.2500305175781,
                                     :y2 1165.7812805175781,
                                     :width 1126.08,
                                     :height 1666.816},
                          :rects ({:x1 0,
                                   :y1 -2,
                                   :x2 0,
                                   :y2 17.33331298828125,
                                   :width 1126.08,
                                   :height 1666.816}
                                  {:x1 933.9007873535156,
                                   :y1 1100.4271240234375,
                                   :x2 1023.2500305175781,
                                   :y2 1120.0104370117188,
                                   :width 1126.08,
                                   :height 1666.816}
                                  {:x1 161.02084350585938,
                                   :y1 1146.4479370117188,
                                   :x2 901.7962951660156,
                                   :y2 1165.7812805175781,
                                   :width 1126.08,
                                   :height 1666.816}),
                          :page 63},
               :content {:text "在接受 参数服务器端传来的最新参数时，客户端 也 需要将来自不同服务器的信息 汇总"},
               :properties {:color "green"}}
              {:id #uuid "64ecbb98-090f-415f-96af-fb1306536238",
               :page 66,
               :position {:bounding {:x1 0,
                                     :y1 184.47918701171875,
                                     :x2 719.1842803955078,
                                     :y2 755.9271240234375,
                                     :width 830.8,
                                     :height 1230},
                          :rects ({:x1 0,
                                   :y1 184.47918701171875,
                                   :x2 0,
                                   :y2 203.81251525878906,
                                   :width 830.8,
                                   :height 1230}
                                  {:x1 193.15626525878906,
                                   :y1 708.3021240234375,
                                   :x2 719.1842803955078,
                                   :y2 722.3021240234375,
                                   :width 830.8,
                                   :height 1230}
                                  {:x1 142.3958282470703,
                                   :y1 741.2604370117188,
                                   :x2 523.8263702392578,
                                   :y2 755.9271240234375,
                                   :width 830.8,
                                   :height 1230}),
                          :page 66},
               :content {:text "Master 是 一 个执行引 擎 ， 拿 到数据流图的信息之 后 ， 会 结合数据流固和计算资源的情况将具体的计算分配给工作节点来完成"},
               :properties {:color "green"}}
              {:id #uuid "64ecbbb1-1bd6-4a5a-b73f-d11395330353",
               :page 66,
               :position {:bounding {:x1 0,
                                     :y1 227.66668701171875,
                                     :x2 719.5458526611328,
                                     :y2 855.1354370117188,
                                     :width 830.8,
                                     :height 1230},
                          :rects ({:x1 0,
                                   :y1 227.66668701171875,
                                   :x2 0,
                                   :y2 247.00001525878906,
                                   :width 830.8,
                                   :height 1230}
                                  {:x1 250.6499786376953,
                                   :y1 808.2291870117188,
                                   :x2 719.5458526611328,
                                   :y2 822.2291870117188,
                                   :width 830.8,
                                   :height 1230}
                                  {:x1 143.21876525878906,
                                   :y1 841.1354370117188,
                                   :x2 396.40382385253906,
                                   :y2 855.1354370117188,
                                   :width 830.8,
                                   :height 1230}),
                          :page 66},
               :content {:text "aster 将计算算子发送给 Wo r ker, Worker 负责用其管理的设备来执行这些算子并返回结果给 Master 。"},
               :properties {:color "green"}}
              {:id #uuid "64ecbc46-7b23-4aba-8702-9e251e18559f",
               :page 66,
               :position {:bounding {:x1 0,
                                     :y1 256.4583282470703,
                                     :x2 720.4084014892578,
                                     :y2 991.9791870117188,
                                     :width 830.8,
                                     :height 1230},
                          :rects ({:x1 0,
                                   :y1 256.4583282470703,
                                   :x2 0,
                                   :y2 275.7916564941406,
                                   :width 830.8,
                                   :height 1230}
                                  {:x1 0,
                                   :y1 270.8541564941406,
                                   :x2 0,
                                   :y2 290.1875,
                                   :width 830.8,
                                   :height 1230}
                                  {:x1 0,
                                   :y1 285.25,
                                   :x2 0,
                                   :y2 304.5833282470703,
                                   :width 830.8,
                                   :height 1230}
                                  {:x1 118.38542175292969,
                                   :y1 874.71875,
                                   :x2 719.9838409423828,
                                   :y2 889.3854370117188,
                                   :width 830.8,
                                   :height 1230}
                                  {:x1 84.82292175292969,
                                   :y1 907.5625,
                                   :x2 720.4084014892578,
                                   :y2 921.5625,
                                   :width 830.8,
                                   :height 1230}
                                  {:x1 84.82292175292969,
                                   :y1 941.1354370117188,
                                   :x2 718.3615875244141,
                                   :y2 955.8020935058594,
                                   :width 830.8,
                                   :height 1230}
                                  {:x1 283.2083282470703,
                                   :y1 971.9791870117188,
                                   :x2 307.4166717529297,
                                   :y2 991.9791870117188,
                                   :width 830.8,
                                   :height 1230}
                                  {:x1 85.97917175292969,
                                   :y1 974.6458435058594,
                                   :x2 284.9791717529297,
                                   :y2 988.6458435058594,
                                   :width 830.8,
                                   :height 1230}
                                  {:x1 305.2291717529297,
                                   :y1 974.6458435058594,
                                   :x2 326.6041717529297,
                                   :y2 988.6458435058594,
                                   :width 830.8,
                                   :height 1230}),
                          :page 66},
               :content {:text "TensorF low 对于 Client- Master- Worker 有很灵活的配置方式，既可以让它们工作在单个节 点中， 也可以让它们 工作在分布式 的环 境中 利用 多 机 多卡进行今 训练 。 一 般在单机环境下，这 三 者在同一个进程 当 巾；而在分布式环境下，它们会用远程过程调用（ RPC )的方式连接起来（参见图 l I. I0 ） "},
               :properties {:color "green"}}],
 :extra {:page 35}}
