{:highlights [{:id #uuid "64ecaa97-8523-4ab5-bce5-0a785751c7fe",
               :page 6,
               :position {:bounding {:x1 0,
                                     :y1 98.10416666790843,
                                     :x2 521.2724609375,
                                     :y2 498.7083536796272,
                                     :width 634.5029647058824,
                                     :height 921.4972235294118},
                          :rects ({:x1 0,
                                   :y1 98.10416666790843,
                                   :x2 0,
                                   :y2 117.43750254437327,
                                   :width 634.5029647058824,
                                   :height 921.4972235294118}
                                  {:x1 0,
                                   :y1 112.50000254437327,
                                   :x2 0,
                                   :y2 131.83333842083812,
                                   :width 634.5029647058824,
                                   :height 921.4972235294118}
                                  {:x1 483.82293701171875,
                                   :y1 439.29166666790843,
                                   :x2 521.27001953125,
                                   :y2 449.9583536796272,
                                   :width 634.5029647058824,
                                   :height 921.4972235294118}
                                  {:x1 94.66668701171875,
                                   :y1 463.9687601737678,
                                   :x2 521.2724609375,
                                   :y2 474.7500101737678,
                                   :width 634.5029647058824,
                                   :height 921.4972235294118}
                                  {:x1 94.66668701171875,
                                   :y1 487.9271036796272,
                                   :x2 394.787841796875,
                                   :y2 498.7083536796272,
                                   :width 634.5029647058824,
                                   :height 921.4972235294118}),
                          :page 6},
               :content {:text "这无疑是雪 中送炭 ， 这样的书 籍在现有文献中 还难以找到 。 对我个人而言，这也是我早就关注但一直缺乏系统了解的领域，所 以 看了这本书"},
               :properties {:color "green"}}
              {:id #uuid "64ed41e0-60fe-409f-a3aa-08d63973a167",
               :page 76,
               :position {:bounding {:x1 0,
                                     :y1 -2.666667938232422,
                                     :x2 759.1583633422852,
                                     :y2 255.54167556762695,
                                     :width 838.7999999999998,
                                     :height 1230},
                          :rects ({:x1 0,
                                   :y1 -2.666667938232422,
                                   :x2 0,
                                   :y2 16.666667938232422,
                                   :width 838.7999999999998,
                                   :height 1230}
                                  {:x1 0,
                                   :y1 11.729167938232422,
                                   :x2 0,
                                   :y2 31.062503814697266,
                                   :width 838.7999999999998,
                                   :height 1230}
                                  {:x1 173.9583511352539,
                                   :y1 176.62500381469727,
                                   :x2 759.1583633422852,
                                   :y2 190.62500381469727,
                                   :width 838.7999999999998,
                                   :height 1230}
                                  {:x1 124.80208587646484,
                                   :y1 208.80208206176758,
                                   :x2 759.1379776000977,
                                   :y2 223.46876907348633,
                                   :width 838.7999999999998,
                                   :height 1230}
                                  {:x1 124.00000762939453,
                                   :y1 241.54167556762695,
                                   :x2 306.01578521728516,
                                   :y2 255.54167556762695,
                                   :width 838.7999999999998,
                                   :height 1230}),
                          :page 76},
               :content {:text "不同的优化算法采用不同的方法对上述目标函数进行优化，以寻找最优的预测模型 。 看似殊途同归，但实践中的性能和效果可能有很大的差别 。 其中，最主要的是优化算法的收敛性和 收敛速率"},
               :properties {:color "green"}}
              {:id #uuid "64ed8cd6-7863-4fbb-b2e3-dfcbdec0859f",
               :page 78,
               :position {:bounding {:x1 0,
                                     :y1 198.87500762939453,
                                     :x2 758.8548126220703,
                                     :y2 747.8854370117188,
                                     :width 839.5999999999999,
                                     :height 1229.6},
                          :rects ({:x1 0,
                                   :y1 198.87500762939453,
                                   :x2 0,
                                   :y2 218.20834350585938,
                                   :width 839.5999999999999,
                                   :height 1229.6}
                                  {:x1 291.25001525878906,
                                   :y1 698.4791870117188,
                                   :x2 758.8548126220703,
                                   :y2 713.8125305175781,
                                   :width 839.5999999999999,
                                   :height 1229.6}
                                  {:x1 124.42707824707031,
                                   :y1 733.8854370117188,
                                   :x2 295.9479217529297,
                                   :y2 747.8854370117188,
                                   :width 839.5999999999999,
                                   :height 1229.6}),
                          :page 78},
               :content {:text "这些算法都是确定性的，也就是说只要初始值给定，这些算法的优化结果就是确定性的 "},
               :properties {:color "green"}}
              {:id #uuid "64ed8cf8-39c2-4fea-b152-b52c87ca746b",
               :page 78,
               :position {:bounding {:x1 0,
                                     :y1 227.6666717529297,
                                     :x2 760.0358428955078,
                                     :y2 814.3333435058594,
                                     :width 839.5999999999999,
                                     :height 1229.6},
                          :rects ({:x1 0,
                                   :y1 227.6666717529297,
                                   :x2 0,
                                   :y2 247,
                                   :width 839.5999999999999,
                                   :height 1229.6}
                                  {:x1 743.5816192626953,
                                   :y1 766.7187805175781,
                                   :x2 760.0358428955078,
                                   :y2 780.7187805175781,
                                   :width 839.5999999999999,
                                   :height 1229.6}
                                  {:x1 124.42707824707031,
                                   :y1 799.6666870117188,
                                   :x2 479.46717834472656,
                                   :y2 814.3333435058594,
                                   :width 839.5999999999999,
                                   :height 1229.6}),
                          :page 78},
               :content {:text "越来越多的优化算法发展出了随机版本和并行化版本"},
               :properties {:color "green"}}],
 :extra {:page 13}}
