{:highlights [{:id #uuid "64ecaa97-8523-4ab5-bce5-0a785751c7fe",
               :page 6,
               :position {:bounding {:x1 0,
                                     :y1 98.10416666790843,
                                     :x2 521.2724609375,
                                     :y2 498.7083536796272,
                                     :width 634.5029647058824,
                                     :height 921.4972235294118},
                          :rects ({:x1 0,
                                   :y1 98.10416666790843,
                                   :x2 0,
                                   :y2 117.43750254437327,
                                   :width 634.5029647058824,
                                   :height 921.4972235294118}
                                  {:x1 0,
                                   :y1 112.50000254437327,
                                   :x2 0,
                                   :y2 131.83333842083812,
                                   :width 634.5029647058824,
                                   :height 921.4972235294118}
                                  {:x1 483.82293701171875,
                                   :y1 439.29166666790843,
                                   :x2 521.27001953125,
                                   :y2 449.9583536796272,
                                   :width 634.5029647058824,
                                   :height 921.4972235294118}
                                  {:x1 94.66668701171875,
                                   :y1 463.9687601737678,
                                   :x2 521.2724609375,
                                   :y2 474.7500101737678,
                                   :width 634.5029647058824,
                                   :height 921.4972235294118}
                                  {:x1 94.66668701171875,
                                   :y1 487.9271036796272,
                                   :x2 394.787841796875,
                                   :y2 498.7083536796272,
                                   :width 634.5029647058824,
                                   :height 921.4972235294118}),
                          :page 6},
               :content {:text "这无疑是雪 中送炭 ， 这样的书 籍在现有文献中 还难以找到 。 对我个人而言，这也是我早就关注但一直缺乏系统了解的领域，所 以 看了这本书"},
               :properties {:color "green"}}],
 :extra {:page 6}}
